NEXT_PUBLIC_APP_MODE=live
NEXT_PUBLIC_ENABLE_DEV_MOCKS=false
NEXT_PUBLIC_AGENT_BASE_URL=http://127.0.0.1:8010
NEXT_PUBLIC_ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
NEXT_PUBLIC_POLICY_VAULT_ADDRESS=
NEXT_PUBLIC_EXECUTION_GUARD_ADDRESS=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
NEXT_PUBLIC_DEX_ROUTER_ADDRESS=0x101F443B4d1b059569D643917553c771E1b9663E
NEXT_PUBLIC_DEX_QUOTER_ADDRESS=0x2779a0CC1c3e0E44D2542EC3e79e3864Ae93Ef0B
NEXT_PUBLIC_DEX_DEFAULT_POOL_FEE=3000
NEXT_PUBLIC_SESSION_ASSET_SYMBOL=USDC
NEXT_PUBLIC_SESSION_ASSET_ADDRESS=0x75faf114eafb1BDbe2F0316DF893fd58CE46AA4d
NEXT_PUBLIC_TOKEN_ETH_ADDRESS=0x980B62Da83eFf3D4576C647993b0c1D7faf17c73
NEXT_PUBLIC_TOKEN_ARB_ADDRESS=
NEXT_PUBLIC_TOKEN_LINK_ADDRESS=0xb1D4538B4571d411F07960EF2838Ce337FE1E80E
NEXT_PUBLIC_CONFIDENTIAL_WRAPPER_ETH_ADDRESS=
NEXT_PUBLIC_CONFIDENTIAL_WRAPPER_ARB_ADDRESS=
NEXT_PUBLIC_CONFIDENTIAL_WRAPPER_LINK_ADDRESS=

NEXT_PUBLIC_NOX_APPLICATION_CONTRACT_ADDRESS=
NEXT_PUBLIC_NOX_HANDLE_GATEWAY_URL=
NEXT_PUBLIC_NOX_HANDLE_CONTRACT_ADDRESS=
NEXT_PUBLIC_NOX_HANDLE_SUBGRAPH_URL=
